@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
	.container //резиновый контейнер
		width: 100%	
	#carousel-example-generic > .container
		left: 0%
		margin: auto
	.navbar-nav
		margin: 0
	.dropdown-menu //настройки выпадающего меню
		min-width: 0
		padding: 0
		top: 0
		margin: 0
		font-size: 12px
		border: none
		z-index: 0
		text-align: center
		transition: all 5s
	.navbar-nav .open .dropdown-menu //Нижний уровеь меню
		background-color: #f0f0f0
		padding-left: 20%
		margin-top: 15px
		li
			text-align: left
			margin: 0 0
	.navbar-default .navbar-nav .open .dropdown-menu > li > a //Нижний уровеь меню
		color: #2f5792
		font-size: 16px
		font-family: 'Arial'
		padding: 10px
		&:hover
			color: $red
	
	.navbar-nav > li //основное меню для моюильных
		border-bottom: #b4b4b4 1px solid
		background-color: #FFF
	.navbar-default .navbar-nav > li a:first-child span //убираем подчеркивание
		border-bottom: none
	div.list-group.open
		padding-left: 0
		padding-right: 0
		padding-bottom: 0
	.nav li div.list-group.open //растяшиваем и центрируем меню когда оно раскрыто
		width: 100%
		text-align: center
	.navbar-nav > li > a:hover //убираем подчеркивание при наведении
		text-decoration: none
	.nav li .list-group //Верхний уровеь меню выравниваем текст по правому краю а сами пункты меню по центру
		text-align: right 
		width: 290px
		margin: 0 auto
		background-color: white

	.preimushestvo .preimushestvo-item //выравниваем синие блоки на малых экранах
		height: 270px
		.number
			left: 43%

	.header-contacts .flex-center1, .header-contacts .flex-center //центрируем контактную инфу вверху и внизу на малых экранах
		margin: auto

/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
	/**/
	.footer-contacts .flex-center1, .footer-contacts .flex-center, .footer .flex-center //центрируем блоки футера
		margin: auto
		padding: 5px
	.footer .flex-center //задаем размер блоков футера
		flex: 0 1 210px

	.top-line //выравниеваем верхнюю линию на малыъ экранах
		text-align: center
		.social
			text-align: center

	.slider1 .carousel-indicators, .effect-prod-site .slider2 .carousel-indicators //выравниваем инжикаторы листания слайдов
		left: 43%

	.preimushestvo .preimushestvo-item //выравниваем синие блоки
		height: 230px
		.number
			left: 45%

	.uslugi .uslugi-item //выравниваем белые блоки
		p
			height: 100px

	.advantages //выравниваем элементы блока под верхним слайдером по центру
		figure
			display: flex
			align-items: center
			padding: 5px 0
			flex: 0 0 auto
			margin: auto
			figcaption
				padding-left: 10px
				font-size: 16px
				font-weight: bold
		.flex-right 
			display: flex
			flex: 0 0 290px
			margin: auto
		.flex-center-advantages
			display: flex
			flex: 0 0 290px
			margin: auto
			padding-bottom: 20px
	
	#carousel-example-generic .caption2 a
		font-size: 18px
	#carousel-example-generic .caption2 ul li
	 	font-size: 12px
  
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/
	.preimushestvo .preimushestvo-item //синие блоки
		height: 290px
		.number
			left: 41%

	.uslugi .uslugi-item //белые блоки
			p
				height: 150px
	.flex-center1 .logo
		.logo2
			width: 210px
			overflow: hidden
			margin: auto
		// img
		// 	max-width: none !important
		// 	width: 200px
		// 	overflow: auto
		// 	margin: auto
	.header-contacts .logo .text_logo, .footer-contacts .logo .text_logo
		margin: auto
		padding-top: 5px
		padding-left: 5px
	.effect-prod-site .slider2 .slide-sod .content table
	 	font-size: 12px

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	.hidden-md, .hidden-lg
		display: none !important
	.nav > li
		width: 14.7%
		&:nth-child(5)
			width: 16.5%
		&:nth-child(7)
			width: 10%
		a:first-child  

	/* Large Devices, Wide Screens */ 
@media only screen and (min-width : 1200px)
	/**/

