@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
	/**/
	.navbar-header 
		float: none

	.navbar-left,.navbar-right 
		float: none !important

	.navbar-toggle 
		display: block

	.navbar-collapse 
		border-top: 1px solid transparent
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1)

	.navbar-fixed-top 
		top: 0
		border-width: 0 0 1px

	.navbar-collapse.collapse 
		display: none!important

	.navbar-nav 
		float: none!important
		margin-top: 7.5px

	.navbar-nav>li 
		float: none
		text-align: center !important

	.navbar-nav>li>a
		padding-top: 10px
		padding-bottom: 10px

	.collapse.in
		display:block !important
		text-align: center !important

	.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header
		margin-right: -15px
		margin-left: -15px
	.flex-cont
		//display: flex
		//align-items: center
		//justify-content: space-between
		//flex-flow: row wrap
		//align-content: center
		.flex-center
			flex: 1 0 auto //фиксируем размер остальных блоков, чтобы не распадались при сжатии
			margin-top: 10px
			margin-right: 20px
			//margin: auto
			a
				margin: auto
		.flex-center1 
			margin-right: 20px
		//padding: 0
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/

/* Medium Devices, Desktops */
@media only screen and (min-width : 991px)
	/**/
	.navbar ul.nav
		display: flex
		float: none
		flex-flow: row nowrap
		justify-content: space-between

	/* Large Devices, Wide Screens */ 
@media only screen and (min-width : 1200px)
	/**/

