@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #123
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: $default-font-size
	min-width: 320px
	position: relative
	line-height: 1.4
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
//**************************************************
.container
	padding: 0
.jirn
	display: inline
	font-weight: bold

// Обшая темя для кнопок
.my_button
	display: block
	width: 190px
	padding: 10px 0 // 32px
	font-size: 15px
	font-weight: bold
	text-decoration: none
	text-align: center
	color: #fff
	border-radius: 45px
	background-color: $accent
	&:hover, &:active, &:visited, &:link
		text-decoration: none
	&:hover
		background-color: $red
		color: #fff
.red_button
	background-color: $red
	&:hover
		background-color: $accent
		cursor: pointer

//*********************************************
// общие настройки флекс контейнеров
.flex-cont //, .top-menu
	display: flex
	align-items: center
	justify-content: space-between
	flex-flow: row wrap
	align-content: center //space-between
	margin: auto
//*****************************************
//<!-- блок верхней строки с сылками -->
.top-line
	padding: 10px 0
	border-bottom: #ddd 1px solid
	ul
		list-style-type: none
		margin: 0
		padding: 0
		li
			display: inline-block
			&:nth-of-type(1n+2)
				padding-left: 10px
			a
				color: $accent
				&:hover
					text-decoration: none
					color: black
	.social
		text-align: right
		p
			margin: 0
		.fa
			margin: 0
			padding: 0 0 0 10px
			color: $accent
			font-size: 16px
			&:hover
				color: $red
//****************************************
//<!-- блок с логотипом и контактами -->
.flex-cont //настройки основных блоков секции
	.flex-center1 //фиксируем размер блока с логотипом чтобы не распадался при сжатии
		flex: 0 1 auto
		padding: 5px 0
	.flex-center
		flex: 0 0 auto //фиксируем размер остальных блоков, чтобы не распадались при сжатии
		padding: 5px 0
.header-contacts, .footer-contacts
	//margin-top: 20px
	font-weight: bold
	color: #000
	.logo
		display: flex
		align-items: center
		flex-flow: row wrap
		.text_logo
			margin: 0
			margin-left: 10px
		.logo2
			width: 214px
			height: 53px
			//margin: auto

.contacts //стилизуем блок с контактными данными
	.city
		font-size: 14px
	.phone
		span
			font-size: 18px
			&:first-child
				color: $red
			&:last-child
				color: $grey
	.maps a
		color: $accent
		font-weight: normal
		text-decoration: underline
		&:hover
			text-decoration: none
			color: black
//*************************************************************
//**********************<!-- меню сайта -->******************************
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus
	background-color: transparent
	
.list-group
	padding: 15px
	margin: 0
	a
		text-decoration: none

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus
	background-color: transparent
		
.navbar
	margin: 20px 0 0 0
	border: none
	border-bottom: #d06368 4px solid
	background-color: #f0f0f0
	border-radius: 0
	.navbar-collapse
		padding: 0
.navbar-default .navbar-nav > li a:first-child
	span
		color: #000
		font-size: 12px
		font-weight: bold
		text-transform: uppercase
		text-decoration: none
		border-bottom: #b4b4b4 1px solid
		&:hover
			color: $red
			border-bottom: none
.fa-caret-down
	padding-left: 30px
	color: #000
	&:hover
		color: $red
.fa-caret-right
	padding-right: 5px
//***************************************************************
//*********************Слайдер**********************************
.slider1
	position: relative
	height: 323px
	div.sl1
		position: absolute
		background: url(../img/slider-bg.png) center no-repeat, url(../img/shade.png) center no-repeat
		width: 100%
		height: 100%
		//opacity: 1
		z-index: 1
		left: 0
		top: 0px
	.carousel 
		height: 323px !important
		overflow: hidden
		position: relative
	.carousel-inner 
		//overflow: visible
	.box
		min-height: 323px
		max-width: 100%
		position: relative
		background-position: center
		.container
			position: relative
			height: 323px
			max-width: 976px
			margin: 0 auto
	.carousel-inner img 
		//left: 50%
		//max-width: none !important
		//max-width: 976px
		min-height: 323px
		//min-width: 100%
		position: relative
		//top: 162px
		//transform: translate(-50%,-50%)
		//opacity: 1
	.carousel-control
		//top: 40%
		width: 0px
		height: 0px
		z-index: 5000
		&.right
			right: 40px
	.carousel-indicators
		position: absolute
		display: flex
		justify-content: space-around
		align-items: center
		background-color: $accent
		bottom: 0
		margin: 0
		left: 46%
		padding: 0
		width: 101px
		height: 37px
	.caption2
		position: absolute
		display: flex
		justify-content: space-around
		align-items: center
		z-index: 2000
		top: 0
		bottom: auto
		width: 100%
		left: 0
		padding: 0
		background-color: rgba(0,0,0,.5)
		a
			font-size: 24px
			font-weight: bold
			color: #fff
			padding: 10px 0
		ul
			list-style-type: none
			margin: 0
			padding: 10px 0
			li
				background: url("../img/slider-marker.png") 0 8px no-repeat
				padding-left: 10px
				//text-indent: 0
				font-size: 16px
				text-align-last: left
#carousel-example-generic > .container
	position: absolute
	height: 50px
	left: 50%
	top: 50%
	max-width: 976px
	z-index: 100
	//margin: 0 auto 0 15%;
	margin: -35px auto 0 -488px
//**********************************************
//<!-- блок УТП под верхним слайдером -->
.advantages
	width: 100%
	background-color: $accent
	color: #fff
	padding: 10px 0
	figure
		display: flex
		align-items: center
		padding: 5px 0
		figcaption
			padding-left: 10px
			font-size: 16px
			font-weight: bold
.flex-right //добавить класс чтобы выровнять правый блок по правому краю
	display: flex
	margin-left: auto
.flex-center-advantages
	display: flex
	// margin: auto если надо выровнять "мы обеспечиваем рост продаж по центру"
//***************************************************
//<!-- блок Эффективное продвижение сайта со вторым слайдером -->
.effect-prod-site, .create-and-prod
	font-size: 15px
	h1
		font-size: 37px
		color: $accent
	h2
		color: $red
		font-size: 20px
	a
		text-decoration: underline
//*************************************************
//<!-- второй слайдер -->
.effect-prod-site .slider2
	height: 324px
	.carousel-control
		top: 40%
		width: 0px
		height: 0
		&.right
			right: 40px
	.carousel-indicators
		display: flex
		justify-content: space-around
		align-items: center
		background-color: $accent
		bottom: 0
		margin: 0
		left: 46%
		width: 101px
		height: 37px
	.slide-sod
		width: 90%
		margin: 0 auto
		display: flex
		justify-content: space-between
		flex: 1 1 auto
		height: 324px
		.img_slider
			max-width: 49%
			//height: auto
		.content
			flex: 1 1 auto
			table
				margin-bottom: 10px
				width: 100%
				height: 70%
				font-weight: bold
				td:nth-child(2n)
					text-align: right
					color: $accent
			.my_button
				margin: 0 auto
	.fa-chevron-left, .fa-chevron-right
		color: #cccbcb
		&:hover
			color: #000
.carousel-indicators li
	width: 17px
	height: 17px
	border: none
	background: url("../img/slider-item.png") 0 0 no-repeat
.carousel-indicators .active
	background: url("../img/slider-item2.png") 0 0 no-repeat
	width: 17px
	height: 17px
//**********************************
//<!-- блок Создание и продвижение сайта -->
.create-and-prod
	width: 100%
	background-color: #f0f0f0
	dl
		dt
			font-weight: bold
			&:before
				content: '\2014'
				font-weight: bold
				margin-right: 10px
		dd
			margin-left: 23px
			margin-bottom: 30px
	.footer1
		text-align: center
		background-color: #f0f0f0
		padding-bottom: 10px
		.my_button
			display: inline-block
			background-color: $red
			margin-left: 16px
			&:hover
				background-color: $accent
				color: #fff
		.jirn
			display: inline-block
			margin-left: 15px
			a
				color: $accent
				&:hover
					color: $red
					text-decoration: none

//*******************************************
//<!-- Мы предоставляем следующие услуги -->
.uslugi div[class^="col-"]:nth-child(2) .uslugi-item
	.header
		background-image: url("../img/uslugi-2.png")
.uslugi div[class^="col-"]:nth-child(3) .uslugi-item
	.header
		background-image: url("../img/uslugi-3.png")
.uslugi div[class^="col-"]:nth-child(4) .uslugi-item
	.header
		background-image: url("../img/uslugi-4.png")
.uslugi div[class^="col-"]:nth-child(5) .uslugi-item
	.header
		background-image: url("../img/uslugi-5.png")
.uslugi div[class^="col-"]:nth-child(6) .uslugi-item
	.header
		background-image: url("../img/uslugi-6.png")
.uslugi
	width: 100%
	background: #4b6a8a url('../img/index-block.png') center no-repeat //url("../img/bg-slider-left-bottom.png"), url("../img/bg-slider-right-bottom.png")
	h2
		text-align: center
		color: #fff
		padding: 20px 0 10px 0
		margin: 0
		font-size: 24px
	.uslugi-item
		background-color: #FFF
		margin: 10px 0
		font-size: 14px
		.header
			font-size: 20px
			font-weight: bold
			text-decoration: underline
			background-image: url("../img/uslugi-1.png")
			background-position: right center
			background-repeat: no-repeat
			padding: 30px 20px 10px 20px
			margin-right: 15px
		p
			padding: 0 20px 20px 20px
			height: 170px
			overflow: hidden
		.uslugi-price
			border-top: 2px solid #4b6a8a
			display: flex
			align-items: center
			justify-content: space-between
			padding: 20px 0
			&:before, &:after //добавдяем синие кружочки по бокам ценника
				content: ''
				width: 10px
				height: 15px
				background-color: #4b6a8a
				border-radius: 15px 0 0 15px
			&:before
				border-radius: 0 15px 15px 0
		.cena
			font-size: 20px
			font-weight: bold
			color: #4b6a8a
		.my_button
			width: 130px
			font-size: 15px
			background-color: #FFF
			color: #000
			border: 3px solid $red
			&:hover
				border-color: $accent
//***************************************
//<!-- Преимущества раскрутки сайтов и сотрудничеств с SEO Update-->
.preimushestvo
	width: 100%
	background-color: #f0f0f0
	
	h2
		text-align: center
		color: #545557
		padding: 20px 0 40px 0
		margin: 0
		font-size: 24px
	.preimushestvo-item
		background-color: $accent //#566a88
		text-align: center
		margin: 15px 0
		height: 320px
		.number
			position: absolute
			width: 60px
			height: 60px
			color: $accent
			background-color: #FFF 
			border-radius: 50%
			font-size: 40px
			font-weight: bold
			left: 40%
			top: -15px
		.header
			color: #74d7f0
			font-size: 15px
			font-weight: bold
			text-transform: uppercase
			padding: 50px 10px 0 30px
		.tire
			width: 50px
			height: 5px
			background-color: #FFF
			margin: 10px auto
		p
			line-height: 1.8
			color: #fff
			padding: 0 30px 0 30px
			margin: 0
		
//*************************************************	
//<!-- меню футера -->

.footer
	background-color: #2a2a2a
	.title
		color: #74d7f0
		border-bottom: #fff 4px solid
		text-transform: uppercase
		font-weight: bold
		text-align: center
		padding-bottom: 8px
		margin-bottom: 10px
		font-size: 16px
		font-family: 'Arial'
	p
		margin-top: 0
		margin-bottom: 5px
	a
		color: #fff
		text-decoration: underline
		cursor: auto
		font-size: 16px
		&:hover
			text-decoration: none
			color: #74d7f0

@import "media" // Всегда в конце
