@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #123
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: $default-font-size
	min-width: 320px
	position: relative
	line-height: 1.4
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
//**************************************************
.container
	padding: 0
// Обшая темя для кнопок
.my_button
	display: block
	width: 190px
	padding: 10px 0 // 32px
	font-size: 15px
	font-weight: bold
	text-decoration: none
	text-align: center
	color: #fff
	border-radius: 45px
	background-color: $accent
	&:hover, &:active, &:visited, &:link
		text-decoration: none
	&:hover
		background-color: $red
		color: #fff
//*********************************************
// общие настройки флекс контейнеров
.flex-cont, .top-menu
	display: flex
	align-items: center
	justify-content: space-between
	flex-flow: row wrap
	align-content: space-between
	//max-width: 976px
	margin: auto
//*****************************************
//<!-- блок верхней строки с сылками -->
.top-line
	padding: 10px 0
	border-bottom: #ddd 1px solid
	//max-width: 100%
	ul
		list-style-type: none
		margin: 0
		padding: 0
		li
			display: inline-block
			&:nth-of-type(1n+2)
				padding-left: 10px
			a
				color: $accent
				&:hover
					text-decoration: none
					color: black
	.social
		text-align: right
		p
			margin: 0
		.fa
			margin: 0
			padding: 0 0 0 10px
			color: $accent
			font-size: 16px
			&:hover
				color: $red
//****************************************
//<!-- блок с логотипом и контактами -->
.flex-cont //настройки основных блоков секции
	.flex-center1 //фиксируем размер блока с логотипом чтобы не распадался при сжатии
			flex: 0 0 auto
			padding: 0
			//margin-left: auto
	.flex-center
		flex: 0 0 auto //фиксируем размер остальных блоков, чтобы не распадались при сжатии
		padding: 0
		//display: flex //Это для смартфонов
.header-contacts
	margin-top: 20px
	font-weight: bold
	color: #000
	.logo
		display: flex
		align-items: center
		.text_logo
			margin: 0
			margin-left: 10px
.contacts //стилизуем блок с контактными данными
	//margin: auto // Это для смартфонов
	.city
		font-size: 14px

	.phone
		span
			font-size: 18px
			&:first-child
				color: $red
			&:last-child
				color: $grey
	.maps a
		color: $accent
		font-weight: normal
		text-decoration: underline
		&:hover
			text-decoration: none
			color: black
.call
	//margin: auto // Это для смартфонов
//*************************************************************
//<!-- меню сайта -->
//savbar
	//max-width: 976px
.navbar
	margin: 20px 0 0 0
	border: none
	border-bottom: #d06368 4px solid
	background-color: #f0f0f0
	border-radius: 0
	.navbar-collapse
		padding: 0
.navbar-default .navbar-nav > li > a
	padding: 18px
	span
		color: #000
		font-size: 12px
		font-weight: bold
		text-transform: uppercase
		text-decoration: none
		border-bottom: #b4b4b4 1px solid
		//padding: 18px
		&:hover
			color: $red
			border-bottom: none
//.top-menu

//.navbar-default .navbar-collapse, .navbar-default .navbar-form
	//margin-top: 20px
	//background-color: #f0f0f0
	//border-bottom: #d06368 4px solid
	//adding: 0
	//margin: 0
	//margin-top: 20px
	//width: 
	//li
		//flex: 1 1 130px
		//border-left: #ddd 1px solid
	//	padding: 18px
		//font-weight: bold
		//a
		//	text-decoration: none
		//	display: block
		//	span
				//font-size: 12px
				//font-weight: bold
				//text-transform: uppercase
				//text-decoration: none
				//border-bottom: #b4b4b4 1px solid
				//color: #000
				//padding: 0
				//&:hover, &:active, &:visited, &:link
			//		text-decoration: none
			//	&:hover
			//		color: $red
			//		border-bottom: none

		//&:first-child
			//border-left: none
		//&:nth-child(5)
			//flex: 2 1 23%
	//	&:last-child
			//flex: 1 1 10%
//*************************************************
//***********Верхний слайдер******************
.section-slidebar
	width: 100%
	height: 324px
	overflow: hidden
	background-color: #2a2a2a
	background: url("../img/slider-bg.png") no-repeat
	//opacity: .4
	//div[class^="col-"]
	//	padding: 0
	.slide
		//height: 300px
		position: relative
		//margin: 0 -10px
		.fone
			position: absolute
			top: 0
			left: 0
			background: url('../img/shade.png') center no-repeat
			z-index: 98
		.carousel-services-content
			display: flex
			align-items: center
			justify-content: space-around
			flex: 0 0 auto
			position: absolute
			width: 100%
			//height: 100px
			padding: 20px 0
			//margin: 0
			color: #fff
			background-color: rgba(42,42,42,.5)
			max-height: 100%
			h2
				//position: inline
				margin: 0
				font-size: 32px
				//padding-left: 15px
				//top: 0
				//bottom: 0
			ul
				//position: inline
				font-size: 15px
				//padding: 100px
				//padding: 0
				margin: 0
				li
					list-style-type: none
					&:before
						color: #76beff
						content: '•'
						padding-right: 5px
						//font-size: 18px
						font-weight: bolder
				//li
    			//list-style-type: none 
			   	//&:before
				//    color: #76beff 
				 //   content: "2" 
				 //   padding-right: 10px 
.slider-nav
	//position: absolute
	//display: block
	bottom: 0
	//width: 190px
	height: 35px
	background-color: $accent
	.slider-nav__item
		width: 17px
		height: 17px
		margin: 10px 5px 5px 5px
		background: url("../img/slider-item.png") 0 0 no-repeat //
.slider-nav__item.slider_nav_item_current
	background: url("../img/slider-item2.png") 0 0 no-repeat //

.slider-arrow--right
	height: 69px
	width: 44px
	background: url("../img/right-slide.png") 0 0 no-repeat
	&:hover
		opacity: .5
.slider-arrow--left
	height: 69px
	width: 44px
	background: url("../img/left-slide.png") 0 0 no-repeat
	&:hover
		opacity: .5


		//.owl-nav
		//	position: absolute
		//	top: 50%
		//	width: 100%
		//	>div
		//		position: absolute
		//		&.owl-prev
		//			left: 0
		//		&.owl-next
		//			right: 0

		//.carousel-services-image
			//position: absolute
//**********************************************
//<!-- блок УТП под верхним слайдером -->
.advantages
	//position: absolute
	width: 100%
	background-color: $accent
	color: #fff
	padding: 20px 0
	figure
		display: flex
		align-items: center
		figcaption
			padding-left: 10px
			font-size: 16px
			font-weight: bold
.flex-right //добавить класс чтобы выровнять правый блок по правому краю
	display: flex
	margin-left: auto
.flex-center-advantages
	display: flex
	// margin: auto если надо выровнять "мы обеспечиваем рост продаж по центру"
//***************************************************
//<!-- блок Эффективное продвижение сайта со вторым слайдером -->
.effect-prod-site, .create-and-prod
	font-size: 15px
	h1
		font-size: 37px
		color: $accent
	h2
		color: $red
		font-size: 20px
	a
		text-decoration: underline
//*************************************************
//<!-- второй слайдер -->
.carousel-two
	.carousel-services-item
		display: flex
		align-items: center
		justify-content: space-around
		.carousel-services-image
			display: inline-block
		.carousel-services-content
			display: inline-block
			table tr td 
				padding: 5px
				margin: 0 10px 0 10px
//**********************************
//<!-- блок Создание и продвижение сайта -->
.create-and-prod
	width: 100%
	background-color: #f0f0f0
	dl
		dt
			font-weight: bold
			&:before
				content: '\2014'
				font-weight: bold
				margin-right: 10px
		dd
			margin-left: 23px
			margin-bottom: 30px
	.my_button
		display: inline-block
		background-color: $red
		margin-left: 16px
		&:hover
			background-color: $accent
	strong
		display: inline-block
		margin-left: 15px
		a
			color: $accent
			&:hover
				color: $red
				text-decoration: none
//*******************************************
//<!-- Мы предоставляем следующие услуги -->
.uslugi div[class^="col-"]:nth-child(2) .uslugi-item
	.header
		background-image: url("../img/uslugi-2.png")
.uslugi div[class^="col-"]:nth-child(3) .uslugi-item
	.header
		background-image: url("../img/uslugi-3.png")
.uslugi div[class^="col-"]:nth-child(4) .uslugi-item
	.header
		background-image: url("../img/uslugi-4.png")
.uslugi div[class^="col-"]:nth-child(5) .uslugi-item
	.header
		background-image: url("../img/uslugi-5.png")
.uslugi div[class^="col-"]:nth-child(6) .uslugi-item
	.header
		background-image: url("../img/uslugi-6.png")
.uslugi
	width: 100%
	background-color: #4b6a8a //url('../img/uslugi-bg.png') center no-repeat
	background-image: url("../img/bg-slider-left-bottom.png"), url("../img/bg-slider-right-bottom.png")
	background-position: left center, right center
	background-repeat: no-repeat
	h2
		text-align: center
		color: #fff
		padding: 20px 0 10px 0
		margin: 0
		font-size: 24px
	.uslugi-item
		background-color: #FFF
		margin: 10px 0
		font-size: 14px
		//height: 360px
		.header
			//padding-top: 15px
			font-size: 20px
			font-weight: bold
			text-decoration: underline
			background-image: url("../img/uslugi-1.png")
			background-position: right center
			background-repeat: no-repeat
			padding: 30px 20px 10px 20px
			margin-right: 15px
		p
			padding: 0 20px 20px 20px
			height: 170px
			overflow: hidden
		.uslugi-price
			border-top: 2px solid #4b6a8a
			display: flex
			align-items: center
			justify-content: space-between
			padding: 20px 0
			&:before, &:after //добавдяем синие кружочки по бокам ценника
				//position: relative
				content: '\25D1'
				color: #4b6a8a
				font-size: 30px
				margin: -14px
			&:after
				content: '\25D0'
		.cena
			font-size: 20px
			font-weight: bold
			color: #4b6a8a
		.my_button
			width: 130px
			font-size: 15px
			background-color: #FFF
			color: #000
			border: 3px solid $red
			&:hover
				border-color: $accent
//***************************************
//<!-- Преимущества раскрутки сайтов и сотрудничеств с SEO Update-->
.preimushestvo
	width: 100%
	background-color: #f0f0f0
	
	h2
		text-align: center
		color: #545557
		padding: 20px 0 40px 0
		margin: 0
		font-size: 24px
	.preimushestvo-item
		background-color: #566a88
		text-align: center
		margin: 15px 0
		//height: 340px
		.number
			//display: inline-block
			position: absolute
			width: 60px
			height: 60px
			color: #566a88
			background-color: #FFF 
			border-radius: 50%
			font-size: 40px
			font-weight: bold
			left: 40%
			top: -15px
		.header
			color: #74d7f0
			font-size: 15px
			font-weight: bold
			text-transform: uppercase
			padding: 50px 30px 0 30px
		.tire
			//display: inline
			color: #fff
			font-size: 50px
			//margin: 0
			margin-top: -25px	
		p
			line-height: 1.8
			color: #fff
			padding: 0 30px 30px 30px
			margin-top: -20px
			height: 220px
			overflow: hidden
		
//*************************************************	
//<!-- меню футера -->
.footer-contacts .header-contacts .flex-cont 
	color: #000
	.flex-center:nth-child(2)
		margin-left: auto
	
	//font-weight: bold
	//outline: 1px solid red
.footer
	width: 100%
	background-color: #2a2a2a	
	.top-menu
		background-color: #2a2a2a
		border-bottom: none
		a
			color: #fff
			&:hover
				color: #74d7f0

@import "media" // Всегда в конце
